In [4]:
import pandas as pd
import numpy as np

In [5]:
df=pd.read_excel('C:/Users/Sudev babu/Machine Learning/FIFA.xlsx')

In [6]:
print(df)

      player_id;name;nationality;position;overall;age;hits;potential;team
0      158023;Lionel Messi;Argentina;ST|CF|RW;94;33;2...
1      20801;Cristiano Ronaldo;Portugal;ST|LW;93;35;2...
2      190871;Neymar Jr;Brazil;CAM|LW;92;28;186;92;"P...
3      203376;Virgil van Dijk;Netherlands;CB;91;29;12...
4      200389;Jan Oblak;Slovenia;GK;91;27;47;93;"Atlé...
...                                                  ...
17976  256093;Jaime Ortíz;Ecuador;ST;56;21;0;64;"Soci...
17977  256088;Michael Carcelén;Ecuador;CM;56;23;0;64;...
17978  256074;Davide Luzi;Venezuela;ST;56;18;1;68;"Za...
17979  256073;Sergio Sulbarán;Venezuela;RW;56;22;0;62...
17980  256072;Luis Peña;Venezuela;CM;56;18;0;69;"Zamo...

[17981 rows x 1 columns]

In [11]:
df.sample(10)

      player_id;name;nationality;position;overall;age;hits;potential;team
17559  255301;Ilias Karargyris;Greece;GK;57;18;0;77;"...
16360  202731;Conor McCormack;Republic of Ireland;CDM...
16496  254576;Agustín Curruhinca;Argentina;LM;59;20;0...
3807   211891;Andreas Voglsammer;Germany;ST|LW;72;28;...
8909   210029;Joe Rafferty;Republic of Ireland;RB|LB;...
16107  240423;Gabi;Spain;RM|CAM;60;22;1;71;"AD Alcorc...
13868  192466;Michael Marrone;Australia;RB|CB;63;33;0...
13336  239425;Chris Kablan;Switzerland;RB|LB;63;25;0;...
13578  226197;Feng Jin;China PR;RM|RW;63;26;0;64;"Cho...
14630  225423;Stiven Vega;Colombia;RB;62;22;1;72;"Mil...

In [9]:
df.head(10)

  player_id;name;nationality;position;overall;age;hits;potential;team
0  158023;Lionel Messi;Argentina;ST|CF|RW;94;33;2...
1  20801;Cristiano Ronaldo;Portugal;ST|LW;93;35;2...
2  190871;Neymar Jr;Brazil;CAM|LW;92;28;186;92;"P...
3  203376;Virgil van Dijk;Netherlands;CB;91;29;12...
4  200389;Jan Oblak;Slovenia;GK;91;27;47;93;"Atlé...
5  192985;Kevin De Bruyne;Belgium;CM|CAM;91;29;11...
6  188545;Robert Lewandowski;Poland;ST;91;31;89;9...
7  183277;Eden Hazard;Belgium;ST|LW;91;29;66;91;"...
8  212831;Alisson;Brazil;GK;90;27;53;91;"Liverpool "
9  209331;Mohamed Salah;Egypt;ST|RW;90;28;94;90;"...